/* registrationForm.css */

.regContainer {
  background-image: url(../images/loginbg.png);
}

.container {
  background-color: rgba(255, 255, 255);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 25px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #1b4d3e;
  font-weight: bold;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 20px;
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: stretch;
  margin-bottom: 20px;
}

.col {
  flex: 0 0 45%;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
  color: #555;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 13px;
  transition: border-color 0.3s;
  width: 200%;
}

.form-control:focus {
  border-color: #1b4d3e;
  box-shadow: 0 0 10px rgba(111, 161, 224, 0.3);
}

.btn-primary1 {
  background-color: #1b4d3e;
  color: #fff;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary1:hover {
  background-color: #4c7bad;
}

.link-container {
  text-align: center;
  margin-top: 20px;
}

.link-container a {
  color: #1b4d3e;
  text-decoration: none;
  font-weight: bold;
}

.link-container a:hover {
  text-decoration: underline;
}
